@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-yellow: #F2CE1B;
    --color-black: #2d3540;
    --color-bege: #F2DBAE;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: var(--color-black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* COLOCANDO VIDEO EM DISPLAY NONE */
video {
    display: none;
}